<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <mapping>
        <class-a>model.bapi.CustomerContactsBAPI</class-a>
        <class-b>model.sap.EmailSAP</class-b>
        <field>
            <a>email</a>
            <b>emailAddress</b>
        </field>
    </mapping>
</mappings>